html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", "Verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  color: $black;
  overflow-x: hidden;

  background-color: $grey3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
