$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1024px;

$content-width: 1280px;

$retina-dppx: 1.5dppx;

$black: #212121;
$white: #ffffff;
$green1: #428a60;
$green2: #35734f;
$grey1: #f8f8f8;
$grey2: #e4e4e4;
$grey3: #f4f4f4;

$gradient-green: linear-gradient(180deg, $green1 0%, $green2 100%);

$box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.1);